@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: normal;
}
@font-face{
    font-family: Roboto-light;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 400;
}

/* Small device */
@media (max-width: 420px) { 
    .news-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, 500px);
        justify-content: center;
        justify-items: center;
    }
    .card-title{
        font-size: 3.5vw;
    }
    .card-subtitle{
        font-size: 2.5vw;

    }
    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 8px;
        height: 100px;
        padding: 10px 0px;
        
        width: 70%;
        border-radius: 5px;
    }
    .card-content{
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* flex-wrap: wrap; */
        padding-left: 10px;
        height: 100%;
        width: 100%;
    }
    .card img{
        /* height: 10%; */
        height: 100%;
        width: 80px;
        /* width: 20%; */
        object-fit: cover;
    }
    .more{
        display: none;
    }
}

@media (min-width:420px) {
    .news-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 10px;
        justify-content: space-between;
    }
    .card-content{
        padding: 20px 10px 10px 10px;
    }
    .card-subtitle{
        margin-top: 10px;
    }
}

body{
    font-family: Roboto;
    margin: 0;
}
h1{
font-family: Roboto-light;
}

.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ham-icon{
    padding: 10px;
    font-family: Roboto-light;
}

.nav-brand{
    text-align: center;
    width: 100%;
}

section{
    padding-inline: 10px;
}





.card{
    box-shadow: 1px 7px 26px -4px rgba(0,0,0,0.66);
    -webkit-box-shadow: 1px 7px 26px -4px rgba(0,0,0,0.66);
    -moz-box-shadow: 1px 7px 26px -4px rgba(0,0,0,0.66);
}

.more{
    font-size: small;
    font-style: italic;
    text-decoration: none;
    
}
.card-subtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0.7;
    font-style: italic;
}